.rosterarea {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 75vw;
  padding-left: 25em;
}

.profilearea {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75vw;
}

.rostertitle {
  font-family: 'Princess Sofia';
  font-size: 3em;
  padding-left: 1.4em;

}
