.rosterarea {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 75vw;
  margin-left: 27em;
  align-items: center;
}

.profilearea {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rostertitle {
  font-family: 'Princess Sofia';
  font-size: 3em;
}
