.formArea {
  width: 25vw;
  height: 100vh;
  position: relative;
}

.registryForm {
  display: flex;
  flex-direction: column;
}

.name-label, .heritage-label, .class-label, .subclass-label, .personalinfo-label {
  font-size: 3vh;
  font-family: 'Oswald'
}

.name-area, .heritage-area, .class-area, .subclass-area, .personalinfo-area {
  display: flex;
  flex-direction: column;
}
