.formArea {
  width: 25vw;
  height: 100vh;
  position: fixed;
  border-right: solid 3px #121316;
  padding-right: .5em;
  padding-left: .5em;

}

.registryForm {
  display: flex;
  flex-direction: column;
}

.name-label, .heritage-label, .class-label, .subclass-label, .personalinfo-label, .registrytitle {
  font-size: 3vh;
  font-family: 'Oswald'
}

.registrytitle {
  text-align: center;
  text-decoration: underline;
}

.name-area, .heritage-area, .class-area, .subclass-area, .personalinfo-area {
  display: flex;
  flex-direction: column;
}
