.formArea {
  width: 25vw;
  height: 100vh;
  position: fixed;
  border-right: solid 3px #121316;
  padding-right: .5em;
  padding-left: .5em;

}

.registryForm {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.name-label, .heritage-label, .class-label, .subclass-label, .personalinfo-label, .registrytitle {
  font-size: 3vh;
  font-family: 'Oswald'
}

.registrytitle {
  text-align: center;
  text-decoration: underline;
}

.nameinput {
  border-top: none;
  border-left: none;
  border-right: none;
  height: 2em;
}

.registerbutton {
  margin-top: 3em;
  width: 10em;
  align-self: center;
  padding-bottom: .2em;
  background: none;
  font-size: 3vh;
  font-family: 'Oswald'
}

.name-area, .heritage-area, .class-area, .subclass-area, .personalinfo-area {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}
