.profileCard {
  display: flex;
  flex-direction: column;
  border: solid 2px #121316;
  border-radius: 4px;
  max-height: 30em;
  max-width: 21em;
  min-height: 30em;
  min-width: 21em;
  margin: 1.5vw;
}

.top, .classes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top {
  border-bottom: solid 2px #121316;
}

.heritage {
  text-align: center;
}

.heart, .skull {
  width: 5vh;
  height: 5vh;
}

.heart {
  margin-top: .9em;
  margin-left: .55em;
  /* margin-bottom: .2em; */
}

.skull {
  margin-top: .9em;
  margin-right: .55em;
  /* margin-bottom: .2em; */
}

.nameArea {
  border-right: solid 2px #121316;
  border-left: solid 2px #121316;
  width: 14em;
}

.classes {
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: -1.3em;
  border-top: solid 2px #121316;
}

.name {
  font-family: 'Raleway';
  font-size: 1.3em;
  text-align: center;
}

.heritageArea {
  margin-top: -1em;
  margin-bottom: -1em;
}

.heritage {
  font-family: 'Raleway';
  font-size: 1.3em;

}

.class {
  font-family: 'Raleway';
  font-size: 1em;

}

.subclass {
  font-family: 'Raleway';
  font-size: 1em;

}

.personalInfo {
  overflow: scroll;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  border-top: solid 2px #121316;
}
