.welcomePage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageName {
  font-size: 20vh;
  font-family: 'Princess Sofia'
}

.toRegistryButton {
  width: 30vw;
  height: 10vw;
  margin-bottom: 20vh;
  font-family: 'Oswald';
  font-size: 6vh;
  background: none;
}
